framework: net6
redirects: on

source https://api.nuget.org/v3/index.json
nuget FSharp.DependencyManager.Paket

source https://www.myget.org/F/aggieben/api/v3/index.json
nuget MBrace.Core ~> 1.6.0-alpha.2 prerelease
nuget MBrace.Flow ~> 1.6.0-alpha.2 prerelease
nuget MBrace.CSharp ~> 1.6.0-alpha.2 prerelease
nuget MBrace.Thespian ~> 1.6.0-alpha.2 prerelease
nuget MBrace.Runtime ~> 1.6.0-alpha.2 prerelease


# nuget MBrace.Azure
# nuget MBrace.Azure.Management
# nuget MBrace.AWS
# nuget Streams
# nuget Suave
# nuget AForge
# nuget AForge.Imaging
# nuget AForge.Math
# nuget MathNet.Numerics
# nuget MathNet.Numerics.FSharp
# nuget MathNet.Numerics.MKL.Win-x64
# nuget System.Runtime.Loader
# nuget FSharp.Data
# nuget FSharp.Charting
# nuget FSharp.Control.AsyncSeq
# nuget XPlot.GoogleCharts
# nuget XPlot.GoogleCharts.WPF
# nuget RProvider

# nuget Owin version_in_path: true
# nuget Microsoft.Owin version_in_path: true
# nuget Microsoft.Owin.Host.SystemWeb


# github fslaborg/FSharp.Charting docs/content/EventEx-0.1.fsx
